<div class="min-w-screen min-h-screen bg-gray-300 flex items-center p-5 lg:p-20 overflow-hidden relative">
  <div
    class="flex-1 min-h-full min-w-full rounded-3xl bg-white shadow-xl px-10 py-10 md:py-24 lg:p-20 text-gray-800 relative md:flex items-center text-center md:text-left">
    <div class="w-full md:w-1/2">
      <div class="mb-10 lg:mb-20">
        <!--<img src="../../../assets/name-app.png" width="500px" class="-ml-6"> -->
        <img src="../../../assets/Efectiviza-Logo-01.png" width="250px" class="-ml-5">
      </div>
      <div class="mb-10 md:mb-20 text-gray-600 font-light">
        <h1 class="font-black uppercase text-5xl lg:text-5xl text-green-500 mb-4">Error 404</h1>
        <p class="text-xl font-black">La página que buscas no esta disponible</p>
        <p class="text-xl">¡Pronto implementaremos esta funcionalidad para poder darte una mejor experiencia!</p>
      </div>
      <div class="mb-20 md:mb-0">
        <button routerLink="/home"
          class="text-xl font-light outline-none bg-green-500 focus:outline-none transform transition-all hover:shadow-lg py-1 rounded-full hover:scale-105 text-white px-6">Ir
          a inicio</button>
      </div>
    </div>
    <div class="w-full md:w-1/2 text-center">

      <!--<img src="../../../assets/404.gif" class="w-full max-w-lg lg:max-w-xl pl-10 mx-auto"> -->
      <img src="../../../assets/not-found.gif" class="w-full max-w-lg lg:max-w-xl pl-10 mx-auto">
    </div>
  </div>

</div>
